*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

body{
  font-family: 'Roboto', sans-serif; 
  height: 180vh;
}

.container{
  background-color: #121212;
  width: 500px;
  margin: 50px;
  display: flex;
}

.area{
  width: 100px;
  height: 100px;
}

.item-1 {
  background-color: red;
}

.item-2 {
  background-color: blue;
}