* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial, serif;
}

header {
    align-content: center;
    text-align: center;
    background-color: #000;
    height: 70px;
}

header h1 {
    color: #FFF;
    font-size: 24px;
}

.post {
    
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 30px;
}

.profile {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding-bottom: 25px;
}

.profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.post-img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.8s;
    margin-bottom: 20px;
}

.post-img:hover {
    transform: scale(1.05);
    margin-bottom: 20px;
}

.interact a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    background-color: #4a7fcf;
    padding: 8px 12px;
    border-radius: 5px;
}

@media (max-width: 600px) {
    .post {
        max-width: 320px;
    }
}